<div class="container">
	<div class="row">
		<div class="col-sm-8 bg-success">
			<h1>Saigon Restaurant</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h1>Contact detail</h1>
		</div>
	</div>
</div>
