<div class="card-block">
  <b><%= food_item.name %></b>
</div>
<div class="card-block">
  <%= image_tag food_item.image %>
</div>
<div class="card-block">
  <%= food_item.price %>
  <%= food_item.description %>
</div>
